.navbar {
  height: 6vh;
  width: 97%;
  margin-left: 1%;
  background-color: rgb(247, 239, 239);
  display: flex;
 align-items: center;
  color: white;
  border-left: 6px solid rgb(83, 5, 5);
  border-top: 6px solid rgb(83, 5, 5);
  border-bottom: 6px solid white;
  border-right: 6px solid white;
  box-shadow: 2px 2px 10px rgb(247, 239, 239);
 

}
.navbar .p {
  margin: 10px;
}
.instructions {
  display: none;
}

/* Style for the three boxes */
.container {
  display: flex;

  height: fit-content;
  border: 5px solid grey;
  margin-top: 4px;
 
  margin-top: 0.5%;
}

.box {
  flex: 1.6;
  border: 5px solid rgb(233, 220, 220);
 
  
}

/* Style for the first box */
.first-box {
  flex: 1;

  background-color: #060a0a;
  display: flex;
  flex-direction: column;
 
  height: fit-content;
  
   
}
.up {
  display: flex;
}

.inner-div * {
  margin: 1%;
  padding: 0;
   
}
.inner-div {
  margin: 3.5%;
  box-shadow: 2px 2px 10px #0bf0f0;
  border-radius: 8px;
  background-color: #16181a;
  text-align: center;
  width: 100%;
  /* Take up full width */
  max-width: 95%;
  /* Limit maximum width */
}


/* Style for the custom toggle switch */
.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: #ccc;
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked+.slider {
  background-color: #f37521;
}

.toggle input:checked+.slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: calc(var(--height) - var(--width) + 2px);
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle input:checked~.labels::before {
  opacity: 1;
  transform: translateX(calc(var(--width) - var(--height)));
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    /* Stack boxes vertically */
  }

  .box {
    flex: none;
    width: 100%;
  }

  .first-box {
    flex: none;
    width: fit-content;
    max-width: none;
    align-items: flex-start;
    /* Align divs to the left */
  }

  .inner-div {
    max-width: none;
    /* Remove maximum width */
  }
}

.custom-toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.custom-toggle-input {
  display: none;
}

.custom-toggle-labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.custom-toggle-labels::after {
  content: attr(data-off);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #4d4d4d;
  background-color: #f19999;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.custom-toggle-labels::before {
  content: attr(data-on);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(var(--width) * -1);
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #4fe132;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.custom-toggle-input:checked~.custom-toggle-labels::after {
  transform: translateX(var(--width));
}

.custom-toggle-input:checked~.custom-toggle-labels::before {
  transform: translateX(var(--width));
}

#rangeValue {
  position: relative;
  display: block;
  text-align: center;
  font-size: em;
  color: #999;
  font-weight: 400;
}

.range {
  width: 99%;
  height: 15px;
  -webkit-appearance: none;
  background: #bab8b8;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  border: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0defe0;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #0defe0;
}

#newRangeValue {
  position: relative;
  display: block;
  text-align: center;
  
  color: #999;
  font-weight: 400;
}

.newRange {
  width: 99%;
  height: 15px;
  -webkit-appearance: none;
  background: #c0bdbd;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.newRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0defe0;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #0defe0;
}

#slider-value {
  position: relative;
  display: block;
  text-align: center;
 
  color: #999;
  font-weight: 400;
}

.custom-range {
  width: 99%;
  height: 15px;
  -webkit-appearance: none;
  background: #cdcccc;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgb(12, 12, 12);
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0defe0;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #0defe0;
}

.vaccum-slider-value {
  position: relative;
  display: block;
  text-align: center;
  
  
  color: #999;
  font-weight: 400;
}

.vaccum-slider-input {
  width: 99%;
  height: 15px;
  -webkit-appearance: none;
  background: #cdcccc;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.vaccum-slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0defe0;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #0defe0;
}

#rangeValueMag {
  position: relative;
  display: block;
  text-align: center;

  color: #999;
  font-weight: 400;
}

.rangeMag {
  width: 80%;
  height: 15px;
  -webkit-appearance: none;
  background: #b9b5b5;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.rangeMag::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #0defe0;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #0defe0;
}



.secondbox {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  height: 100%;
  
}
#box2 {
  background-color: #1f3c3c;
}
.mode-display {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  height: 15%;
  width: 80%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px  #0bf0f0;
  margin-top: 2%;
}
.image {
  position: relative;
  width: 90%;
  max-width: 80%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.text1 {
  position: absolute;
  bottom: 0;
  background: rgba(197, 6, 235, 0.5);
  color: #fff;
  width: 70%;
  left: 60%;
  padding: 10%;
  text-align: center;
  display: none;
  transition: opacity 0.5s;
  border: 3px solid rgb(0, 255, 115);
  border-radius: 4px;
}

.small-image1:hover .text1 {
 display: block;
}
.text2 {
  position: absolute;
  bottom: 0;
  background: rgba(197, 6, 235, 0.5);
  color: #fff;
  width: 50%;
  left: 60%;
  padding: 10%;
  text-align: center;
  display: none;
  transition: opacity 0.5s;
  border: 3px solid rgb(0, 255, 115);
  border-radius: 4px;
}

.small-image2:hover .text2 {
 display: block;
}
.text3 {
  position: absolute;
  bottom: 0;
  background: rgba(197, 6, 235, 0.5);
  color: #fff;
  width: 50%;
  left: 60%;
  padding: 10%;
  text-align: center;
  display: none;
  transition: opacity 0.5s;
  border: 3px solid rgb(0, 255, 115);
  border-radius: 4px;
}

.small-image3:hover .text3 {
 display: block;
}
.text4 {
  position: absolute;
  bottom: 0;
  background: rgba(197, 6, 235, 0.5);
  color: #fff;
  width: 50%;
  left: 60%;
  top: 34%;
  padding: 10%;
  text-align: center;
  display: none;
  transition: opacity 0.5s;
  border: 3px solid rgb(0, 255, 115);
  border-radius: 4px;
}

.small-image4:hover .text4 {
 display: block;
}
.text5 {
  position: absolute;
  bottom: 0;
  background: rgba(197, 6, 235, 0.5);
  color: #fff;
  width: 50%;
  left: 60%;
  padding: 10%;
  text-align: center;
  display: none;
  transition: opacity 0.5s;
  border: 3px solid rgb(0, 255, 115);
  border-radius: 4px;
}

.small-image5:hover .text5 {
 display: block;
}
.text6 {
  position: absolute;
  bottom: 0;
  background: rgba(197, 6, 235, 0.5);
  color: #fff;
  width: 50%;
  left: 60%;
  padding: 10%;
  text-align: center;
  display: none;
  transition: opacity 0.5s;
  border: 3px solid rgb(0, 255, 115);
  border-radius: 4px;
}

.small-image6:hover .text6 {
 display: block;
}
.text7 {
  position: absolute;
  bottom: 0;
  background: rgba(197, 6, 235, 0.5);
  color: #fff;
  width: 50%;
  left: 60%;
  padding: 10%;
  text-align: center;
  display: none;
  transition: opacity 0.5s;
  border: 3px solid rgb(0, 255, 115);
  border-radius: 4px;
}

.small-image7:hover .text7 {
 display: block;
}
.text8 {
  position: absolute;
  bottom: 0;
  background: rgba(197, 6, 235, 0.5);
  color: #fff;
  width: 50%;
  left: 60%;
  padding: 10%;
  text-align: center;
  display: none;
  transition: opacity 0.5s;
  border: 3px solid rgb(26, 236, 121);
  border-radius: 4px;
}

.small-image8:hover .text8 {
 display: block;
}
.image img {
  max-width: 72.2%;
  height: 100%;
}
.small-image1 {
  position: absolute;
  transform: translate(-20%, -60%);
}
.small-image3 {
  position: absolute;
  transform: translate(-20%, -20%);
}
.small-image2 {
  position: absolute;
  transform: translate(-25%, -25%);
}
.small-image4 {
  position: absolute;
  transform: translate(-20%, -20%);
}
.small-image5 {
  position: absolute;
  transform: translate(-20%, -20%);
}
.small-image6 {
  position: absolute;
  transform: translate(-20%, -20%);
}
.small-image6 img {
  scale: 2;
}
.small-image7 {
  position: absolute;
  transform: translate(-20%, -20%);
}
.small-image8 {
  position: absolute;
  transform: translate(-20%, -20%);
}
.small-image1 img:hover {
  scale: 1.2;
}
.small-image2 img:hover {
  scale: 1.2;
}
.small-image3 img:hover {
  scale: 1.2;
}
.small-image4 img:hover {
  scale: 1.2;
}
.small-image5 img:hover {
  scale: 1.2;
}
.small-image6 img:hover {
  scale: 2.2;
}
.small-image7 img:hover {
  scale: 1.2;
}
.small-image8 img:hover {
  scale: 1.2;
}
canvas {
  -webkit-transform3d: translate(0, 0, 0);
  -moz-transform3d: translate(0, 0, 0);
  -transform3d: translate(0, 0, 0);
  z-index: 2;
}
.se {
  display: none;
}
.bse {
  display: none;
}

 
 #third-box {
  display: none;
 }
 #boxthird {
  background-color: #1f3c3c;
  display: flex;
   
  align-items: center;
  flex-direction: column;
 }
 .result{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  height: 15%;
  width: 80%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px  #0bf0f0;
  margin-top: 2%;
 }
 .output-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 80%;
  margin-top: 10%;
 }
 .p {
  display: none;
 }
 .p1 {
  display: none;
 }
 .p2 {
  display: none;
 }
 .p3 {
  display: none;
 }
 .p4{
  display: none;
 }
 .p5 {
  display: none;
 }
 .p6{
  display: none;
 }
 .p7 {
  display: none;
 }
 
 .output-image {
  position: relative;
  width: 90%;
  max-width: 80%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.output-image img {
  max-width: 72.2%;
  height: 60%;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 500px; /* Set a maximum width if needed */
  height: 70%;
  max-height: 250px; /* Set a maximum height if needed */
  background: #ffffff;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-sizing: border-box;
  z-index: 99;
}

.popup-content {
  background: #d60a0a;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid black;
}

.dialogue-box{
  /* width: 60%;
  height: 30%; */
  border-radius: 8px;
  position: absolute;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.606);
  transition: 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 9999; */
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dialogue-box button {
  padding: 0rem 1rem;
  margin: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.606);
  border-style: none;
  /* background-color: green; */
  color: white;
}
